body {
	background: #32908f;
	font-family: 'Droid Sans', sans-serif;
	margin: 0;
	color: #a3e7fc;
}

article, nav, footer div {
	margin-right: 20%;
	margin-left: 20%;
}

body > header {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 2em 0;
}

body > header::before {
	content: "\2655";
	font-size: 15rem;
	line-height: 10rem;
	color: #a3e7fc;
	display: block;
	text-shadow: 2px 2px #000;
}

h1 {
	display: inline-block;
	font-size: 1.2rem;
	text-align: right;
	color: #a3e7fc;
}

h1 strong {
	font-size: 4rem;
	display: block;
	line-height: 0.8em;
}

h2 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #A72608;
	font-size: 2rem
}

nav {
	text-align: center;
}

nav a {
	display: inline-block;
	background: #A72608;
	color: #a3e7fc;
	text-decoration: none;
	padding: 1em 0;
	width: 30%;
	margin: 0 0 1.5rem 0;
	transition: transform 200ms ease-in-out;
}

nav a:hover, nav a:focus {
	transform: scale(1.2);
}


nav a:nth-child(2) {
	margin: 0 5%;
}

article div {
	text-align: center;
	margin: 2em 0;
}

div > a {
	display: inline-block;
	background: #A72608;
	color: #a3e7fc;
	width: 32%;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
}

div > a::before {
	content: "\21E7";
	font-family: 'Yanone Kaffeesatz', sans-serif;
	display: inline-block;
	transform: rotate(180deg);
	margin-right: 0.2em;
}

pre {
	background: #090C02;
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #ffc843;
	overflow: auto;
}

footer {
	background: #090C02;
	padding: 0.1em;
	color: #a3e7fc;
}

footer section {
	display: inline-block;
	width: 50%;
}

